            <nav>
                    <div class="item" id="menu-icon">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <rect class="cls-1" x="1.5" y="1.5" width="45" height="45" rx="6.88" ry="6.88"/>
                        <line class="cls-1" x1="10.33" y1="15" x2="36.33" y2="15"/>
                        <line class="cls-1" x1="10.33" y1="25" x2="36.33" y2="25"/>
                        <line class="cls-1" x1="10.33" y1="35" x2="36.33" y2="35"/>
                        </svg>
                    </div>
                <ul>
                    <div class="nav">
                        <li class="port"><a href="https://www.behance.net/elunn" target="_blank" class="item">Portfolio</a></li><hr>
                        <li><a href="{{site.baseurl}}contact.html" class="item">Contact</a></li><hr>
                        <li><a href="{{site.baseurl}}about.html" class="item">About</a></li>
                    </div>
                </ul>
            </nav>