            <nav>
                    <a class="item" id="menu-icon"></a>
                <ul>
                    <div class="nav">
                        <li class="port"><a href="https://www.behance.net/elunn" target="_blank" class="item">Portfolio</a></li><hr>
                        <li><a href="{{site.baseurl}}/contact.html" class="item">Contact</a></li><hr>
                        <li><a href="{{site.baseurl}}/about.html" class="item">About</a></li>
                    </div>
                </ul>
            </nav>