/*---profile banner---*/

.about .colourblock {
    position: relative;
    height: 8em;
    top: -8em;
}

.about .yellowbanner {
    background-color: #EAC435;
    width: 100%;
    height: 8em;
    margin: 3em 0 0 -500%;
    padding: 0 0 0 500%;
    position: relative;
}

.about .colourblock h2{
    text-transform: uppercase;
    position: absolute;
    z-index: 90;
    color: white;
    top: 50%;
    transform: translate( 0, -50%);
    padding-left: 1em;
}

.about .colourblock img{
    position: absolute;
    right: 0;
    top: -2em;
    width: 18em;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .about .colourblock h2 {
        padding: 0;
    }
    
    .about .colourblock img {
        left: 50%;
        transform: translate( -50%, 0);
        top: -2em;
        width: 20em;
    }
    
}

/*---Profile text---*/

.info {
    margin-top: 3em;
    text-align: center;
    padding-bottom: 3em;
}

.info p {
    padding: .5em;
}