img {
    width: 100%;
    padding-top: 0;
    padding-bottom: 1em;
}

.aboutText {
    width: 90%;
    float: left;
    padding-bottom: 2em;
}

.aboutText p {
    line-height: 1.8em;
    padding-bottom: 1em;
}

.pdf {
    width: 2em;
    float: left;
}

#pdf {
    position: relative;
    float: left;
    text-decoration: none;
    width: 3em;
    color: grey;
}

.pdfText {
    position: absolute;
    top: 50%;
    left: 2.5em;
    transform: translate(0, -50%);
    white-space: nowrap;
}

@media (min-width: 650px) {
    img {
        float: right;
        width: 45%;
    }
    
    .aboutText {
    width: 50%;
    float: left;
}
}

