form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 2em;
}

input {
    padding: .5em 1em;
    margin: 1em 0;
    border: 1px solid grey;
    border-radius: .5em;
}

textarea {
    padding: 1em 0 3em 1em;
    margin: 1em 0;
    border: 1px solid grey;
    border-radius: .5em;
}

button {
    width: 60%;
    padding: .5em;
    margin: 1em auto;
    border: none;
    border-radius: .5em;
    background-color: #71F5C5;
    color: white;
}

@media (min-width: 650px) {
    form {
        width: 70%;
        padding-top: 8em;
    }
}