.home {
    position: relative;
    width: 100%;
    height: 60vh;
}

#slideshow {
    position: relative;
    height: 50vh;
    float: right;
    width: 90%;
}

.imgOne {
    position: absolute;
    background-image: url({{site.baseurl}}/assets/images/received_980110645506848.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.imgTwo {
    position: absolute;
    background-image: url({{site.baseurl}}/assets/images/thumbnail.jpg);
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.imgThree {
    position: absolute;
    background-image: url({{site.baseurl}}/assets/images/DSC_0219.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.projectName {
    line-height: 1.2em;
    position: absolute;
    color: rgba(0, 0, 0, .5);
    bottom: -1.2em;
}

#design {
    position: relative;
    height: 100%;
    width: 10%;
    bottom: 0;
}

#designText {
    position: absolute;
    height: 15em;
    bottom: 0;
    right: 0;
    padding: 0 .3em;
}

@media (min-width: 650px) {
    .home {
        float: right;
        width: 75%;
        height: 65vh;
    }
    
    #slideshow {
        height: 55vh;
    }
}