/*contains portfolio images*/
.portfolio {
    overflow: hidden;
}

/*Portfolio DropDown List*/

.categoryContainer {
    position: relative;
    list-style: none;
    width: 12em;
    z-index: 100;
    padding: .5em 0 1em 0;
}

.categoryContainer h1 {
    font-size: 1em;
    padding: 0 1em;
    margin: 0;
    float: right;
    color: #DBE4E1;
    font-family: Open Sans;
    font-weight: 100
}

.button {
    width: 100%;
    background: white;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 1em;
    text-align: center;
    z-index: 10;
    position: relative;
    border: 1.5px solid #DBE4E1;
    cursor: pointer;
}

.categoryContainer ul {
    margin-top: -.8em;
    padding: .8em 0 0 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    display: inline-block;
    z-index: 2;
    position: absolute;
    border: 1.5px solid #DBE4E1;
    border-radius: 0 0 1em 1em;
    font-family: open Sans;
    opacity:0;
    transition:.3s;
    font-size: .8em;
    list-style: none;
}

.categoryContainer:hover ul{
    visibility:visible;
    opacity:1;
  }

.categoryContainer li {
    padding: .5em 0 .5em 1em;
    cursor: pointer;
}

.categoryContainer li:hover{
    opacity: .5;
}

/*Styling for the portfolio thumbnails*/

.blockContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.blockContainer::after {
    content: "";
    flex: auto;
}

.potfolioItem {
    transition: all .3s ease-in-out;
    padding-bottom: 2em;
}

.hide {
    display: none;
    transform: scale(0);
    width: 0;
    height: 0;
    transition: all .1s eas-in-out;
}

#box {
    width: 100%;
}

#box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media (min-width: 500px) {
    #box {
    width: 80%;
    
    }
}

@media (min-width: 650px) {
    #box {
    width: 50%;
    }
    .potfolioItem {
    padding-bottom: 0;
    }
}

@media (min-width: 1000px) {
    #box {
    width: 33.33333333%;
    }
}

/*Portfolio Thumbnails*/

.pic_1 {
    background-image: url({{site.baseurl}}/assets/FORMiT.jpg);
    background-size: cover;
}

.pic_2 {
    background-image: url({{site.baseurl}}/assets/EdenShade.png);
    background-size: cover;
}

.pic_3 {
    background-image: url({{site.baseurl}}/assets/Kellys.jpg);
    background-size: cover;
}

.pic_4 {
    background-image: url({{site.baseurl}}/assets/InclusiveBottle.png);
    background-size: cover;
}

.pic_5 {
    background-image: url({{site.baseurl}}/assets/Lodj.png);
    background-size: cover;
}

.pic_6 {
    background-image: url({{site.baseurl}}/assets/StepMaster.gif);
    background-size: cover;
}

.pic_7 {
    background-image: url({{site.baseurl}}/assets/37674015_10155708389443549_7883064308874084352_n.jpg);
    background-size: cover;
}

.pic_8 {
    background-image: url({{site.baseurl}}/assets/Website-mockup.gif);
    background-size: cover;
}

.pic_9 {
    background-image: url({{site.baseurl}}/assets/NewDesigners.jpg);
    background-size: cover;
}

.pic_10 {
    background-image: url({{site.baseurl}}/assets/24839027_715157612009490_3468158947326689280_n.jpg);
    background-size: cover;
}

.pic_11 {
    background-image: url({{site.baseurl}}/assets/WindDrawer.jpg);
    background-size: cover;
}

.pic_12 {
    background-image: url({{site.baseurl}}/assets/Bowl.gif);
    background-size: cover;
}

.pic {
    width: 100%;
    height: 100%;
}

@media (min-width: 650px) {
    .pic {
    width: 90%;
    height: 90%;
    margin: -5% 5% 5% 5%;
}
}
